<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Register</title>
</head>

<body>
	<h2>Register</h2>
	<form th:action="@{/register}" method="post">
		<input type="text" name="name" placeholder="Full Name" required />
		<input type="text" name="age" placeholder="Age" required />
		<input type="text" name="username" placeholder="Username" required />
		<input type="password" name="password" placeholder="Password" required />

		<!-- Address -->
		<h4>Address:</h4>
		<input type="text" name="houseNo" placeholder="House No" required />
		<input type="text" name="buildingName" placeholder="Building Name" required />
		<input type="text" name="street" placeholder="Street" required />
		<input type="text" name="city" placeholder="City" required />
		<input type="text" name="district" placeholder="District" required />
		<input type="text" name="state" placeholder="State" required />
		<input type="text" name="zipCode" placeholder="Zip Code" required />

		<h4>Gender:</h4>
		<label>
			<input type="radio" name="gender" value="Male" required /> Male
		</label>

		<label>
			<input type="radio" name="gender" value="Female" required /> Female
		</label>
		<label>
			<input type="radio" name="gender" value="Other" required /> Other
		</label>

		<!-- Contact Number -->
		<input type="text" name="contactNumber" placeholder="Contact Number" required />




		<button type="submit">Register</button>
	</form>
	<p th:if="${error}" style="color:red;" th:text="${error}"></p>
</body>

</html>